* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25rem;
  width: 30rem;
}

button {
  align-self: center;
  background-color: transparent;
  border: none;
}

video {
  border-radius: 10px;
  overflow: hidden;
  align-self: center;
  height: fit-content;
}
